sudo: false
rvm:
- 1.9.3
- 2.0
- 2.1
- 2.2
- 2.3.0
- jruby-1.7.23
- jruby-9.0.4.0
matrix:
  allow_failures:
  - rvm: jruby-1.7.23
env:
- PATH=$PATH:$HOME/gradle/bin:$HOME/rebar:$HOME/go/bin GOPATH=$HOME/go
notifications:
  email:
  - licensefinder@pivotallabs.com
  webhooks:
    urls:
    - http://pulse.pivotallabs.com/projects/657d35b7-b896-4bf3-8837-9d558e2ab651/status
    on_start: true
  slack:
    secure: VIrS65Ssun4Jpu6Y5DpZFAjNmsxVBHxqa2VbrwghibhdhUksxQtit4a7ncGrgEoOMYMZfETjB0SD15au+Dx3TbVS+yuLk7lP5cI2Yf37Q87+hGRRY1FpuPtF45/r1CTHqv8GyVvz2RMwyDYYoLeSl62CUpJatm/+z9x6q2EImJo=
before_install:
- gem update bundler
- "ci/install_gradle.sh"
- "ci/install_rebar.sh"
- "ci/install_bower.sh"
- "ci/install_godep.sh"
script:
- rake install
- rake spec
- rake features
