platform: linux

image_resource:
  type: registry-image
  source:
    repository: ruby
    tag: 3.1.1
    username: ((license-finder-docker-username))
    password: ((license-finder-docker-password))

inputs:
- name: LicenseFinder

run:
  path: ./LicenseFinder/ci/scripts/run-rubocop.sh